/* styles.css */

/* Style global pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Style pour l'en-tête */
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Style pour la navigation */
nav {
    background-color: #333;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Style pour les sections */
section {
    padding: 20px;
    margin: 20px auto;
    background-color: white;
    max-width: 1200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10px;
}

/* Style pour les projets */
.project {
    margin-bottom: 20px;
}

/* Style responsif pour les iframes */
.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%; /* Ratio 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #f4f4f4;
}

.responsive-iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
}

/* Style pour la liste des compétences */
#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills ul li {
    background-color: #e0e0e0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}

/* Style pour le pied de page */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
